@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
:root{
  --accent-color-text1: #FFFFFF;
  --accent-color-text2: #48555B;
  --accent-color-hover: #00A4E5;
}
body{
  font-family: 'Open Sans', sans-serif;
}
.container{
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
}
.header{
  min-height: 768px;
  background-image: url(../img/header_background.png);
  background-size: cover;
  text-align: center;
  background-position: center center;
  padding-top: 43px;
  padding-bottom: 71px;
}
.header-items {
  min-height: 768px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  color: var(--accent-color-text1);
}
.img__logo {
  width: 102px;
  height: 23px;
}
.img__logo-white {
  padding-bottom: 317px;
}
.h1-text {
  font-family: 'BebasNeueBold', sans-serif;
  font-size: 50px;
  line-height: 70px;
  text-transform: uppercase;
  letter-spacing: 5.70937px;
}
.p-text {
  font-size: 16px;
  line-height: 19px;
  /* color: var(--accent-color-text2); */
}
.p-scroll {
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 3.7px;
}
.navbar {
  min-height: 65px;
  margin-bottom: 68px;
}
.navbar__flex {
  min-height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__logo {
}
.navbar__menu {

}
.navbar__menu>a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--accent-color-text2);
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 1.09091px;
  padding-right: 30px;
  font-weight: 600;
}
.navbar__menu>a:last-child{
  padding-right: 0;

}
.navbar__menu>a:hover {
  color: var(--accent-color-hover);
}
.about{
  text-align: center;
  padding-bottom: 120px;
}
.h3-text {
  text-transform: uppercase;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 2.30625px;
  color: var(--accent-color-text2);
}
.span-line {
  margin: 0 auto;
  display: block;
  width: 50px;
  height: 2px;
  background-color: var(--accent-color-hover);
  margin-bottom: 30px;
}
.about__story {
  display: flex;
}
.about__story-text {
  width: 43%;
  padding-right: 77px;
  text-align: left;
}
.h4-text {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: var(--accent-color-text2);
}
.span-text {
  color: var(--accent-color-hover);
}
.p-text-story{
  font-size: 13px;
  line-height: 23px;
  letter-spacing: 0.1875px;
  color: var(--accent-color-text2);
}
.about__story-cards {
  display: flex;
  align-self: flex-end;
}
.about__story-cards-item {
  width: 140px;
  height: 224px;
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.1875px;
  font-weight: 900;
  color: var(--accent-color-text1);
  text-align: left;
  padding: 15px 0 0 15px;
}
.about__story-cards-item:last-child {
  margin-right: 0;
}
.img{
  background-repeat: no-repeat;
}
.about__story-cards-item:nth-child(1) {
  background-image: url(../img/card-1.png);
}
.about__story-cards-item:nth-child(2) {
  background-image: url(../img/card-2.png);
}
.about__story-cards-item:nth-child(3) {
  background-image: url(../img/card-3.png);
}
.services {
  padding-bottom: 115px;
}
.services__flex{
  display: flex;
}
.h3-text {
}
.p-text-services{
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.2px;
  color: var(--accent-color-text2);
  margin-right: 32px;
}
.h3-text-services{
  display: block;
  width: 200px;
  margin-right: 150px;
}
.span-line-services {
  margin: 0 0 80px 0;
}
.btn {
  min-width: 150px;
  min-height: 40px;
  max-height: 40px;
  background-color: var(--accent-color-hover);
  color: var(--accent-color-text1);
  border: none;
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
.sevices__grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 28px;
}
.services__grid-item {
  border: 0.1em solid var(--accent-color-text2);
  padding: 40px 25px;
}
.services-ico{
  width: 66px;
  height: 75px;
}
.get-in-touch{
  background-image: url(../img/bg-get-in.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 232px;
}
.h2-text {
  font-family: 'OpenSans' sans-serif;
  font-size: 30px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: var(--accent-color-text2);
  
}
.newsletter{
  background-color: #171819;
  min-height: 100px;
}
.newsletter__flex {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;

}
.newsletter-text {
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 0.846154px;
  color: var(--accent-color-text1);
  font-weight: 800;
}
.newsletter-input {
  min-width: 250px;
  min-height: 40px;
  max-height: 40px;
  border: none;
  padding: 0;
}
.form{
  display: inline-flex;
}
.btn-signup{
  padding: 0;
}
.footer{
  background-color: #141A20;
  min-height: 240px;
}
.footer p{
  color: var(--accent-color-text1);
  font-size: 11px;
  line-height: 19px;
  letter-spacing: 0.85px;
}
.footer a{
  color: var(--accent-color-text1);
  text-decoration: none;
  font-size: 11px;
  line-height: 10px;
  letter-spacing: 0.846154px;
  text-transform: uppercase;
}
.footer a:hover{
  color: var(--accent-color-hover);
}
.footer__grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  gap: 50px;
  padding: 50px 0;
  align-items: center;
}
.footer__company {
}
.img__logo-white-footer{
  padding-bottom: 0;
}
.p-text {
}
.p-footer {
}
.img {
}
.footer__links {

}
.li {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
.footer__contacts {
}
.footer__socials {
  display: flex;
  justify-content: space-around;
}

