@media screen and (max-width: 1024px){
  .about__story{
    flex-wrap: wrap;
  }
  .about__story-text{
    width: 100%;
    padding: 0 15px;
  }
  .about__story-cards{
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px){
  .navbar__flex{
    padding: 0 15px;
  }
  .navbar__logo{
    padding-right: 40px;
  }
  .services__flex{
    margin: 0 15px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .h3-text-services{
    margin: 0;
  }
  .btn-services{
    margin: 0;
  }
  .sevices__grid{
    grid-template-columns: 1fr;
    margin-left: 15px;
    margin-right: 15px;
  }
  .newsletter__flex{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .form{
    padding-top: 15px;
    margin-bottom: 30px;
  }
  .newsletter-input{
    min-width: 50px;
    max-width: 150px;
  }
  .footer__grid{
    grid-template-columns: 1fr 1fr;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media screen and (max-width: 480px){
  .h1-text{
    font-size: 40px;
    line-height: 40px;
  }
  .navbar__menu>a{
    padding-right: 15px;
  }
  .about__story-cards{
    flex-wrap: wrap;
    margin: 0;
    justify-content: center;
  }
  .about__story-cards-item:last-child{
    margin: 15px;
  }
  .about__story-cards-item{
    margin: 15px;
  }
  .footer__grid{
    grid-template-columns: 1fr;

  }
}